body {
  font-family: sans-serif;
  background-color: #333333;
  background-image: url('polaroid.png');
}

h1, h2, h3, h4, p { color: #9091f3; }
h1, h2 { font-family: 'Georgia', serif; margin: 0; }
h1 { border-bottom: 2px solid #eee; }
h2 { font-size: 1.2em; }
a { text-decoration: none; color: #f6f6e7; font-size: .95em; }

.header {
  font-family: 'Anton', sans-serif;
  color: #050941;
  font-size: 42px;
  margin-top: 20px;
  margin-right: 420px;
}

.pane {
  position:absolute; left: 18%;
  border: 2px solid;
  border-radius: 25px;
  padding: 25px;
  margin: 45px;
  border-color: #999999;
  background-color: #050941;
}

.pane2 {
  position:absolute; left: 38%;
  border: 2px solid;
  border-radius: 25px;
  padding: 25px;
  margin: 45px;
  border-color: #999999;
  background-color: #050941;
}

.login {
  position:absolute; right: 22%;
  font-size: 22px;
}

.header { left:50%; text-align: center; }
.name { width:50%; display: inline-block; float: left; }
.description {}
.price { text-align: right; width:50%; float: right; }
.editdeletepane{}

.flash { background: #cee5F5; color: #CCCCCC; }

#signInButton {
  text-align: center;
  margin-top: 80px;
}
